{{>navbar}}
<!---------------------Pop Up----------------------------------------->
<div class="login-popup" id="certform">
    <div class="box">
        <div class="img-area">
            <div class="img">
            </div>
            <img src="images/1.png" alt="">
        </div>

        <div class="form">
            <div class="close">&times;</div>
            <form id="counter">
                <div class="form-group">
                    <input type="text" name="uname" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" placeholder="Phone no." class="form-control">
                </div>
                <button type="button" class="btn" value="Visit Site" onclick="clickCounter()">Visit Site</button>
            </form>
        </div>
    </div>
</div>
<!------------------------Nav-bar Section----------------------------------------->
<!------------------------------Banner Section------------------------------------->
<section id="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto">
                <img src="images/imgs2.jpeg" class="img-fluid">
                <img src="images/imgs.jpeg" class="img-fluid img2">
            </div>
            <div class="col-md-6">
                <p class="promo-title" class="text-end">Are You looking</p>
                <div class="ct2">
                <p class="promo2-title">for Research <br> Colleagues?</p>
                <a href="/joinfree"><button class="btn btn-outline-success btx1" type="button">Join Free</button></a>
                <a href="/signin"><button class="btn btn-outline-success btx1" type="button">Sign In</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------Research Section----------------------------->
<section id="Research" >
    <div class="container">
        <div class="row ">
                <p class="promo-title5 text-center">Scrutinize with us to broaden your knowledge to accelerate innovation.</p>
        </div>
        <div class="row Researchbtx">
        <button class=" btx3" type="button">Research Now</button>
       </div>
    </div>
</section>
<!-----------------------------Easy Research Section----------------------->
<section class="researche">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <p class="promo-title1">Make Research <br> Easy With <br> Vichayan</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="images/Book Library Illustration-Light.png" class="img-fluid libimg">
            </div>
        </div>
    </div>
</section>
<!-----------------------------Team Innovation--------------------------------------------------->
<section class="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="images/TeamWork-Illustration.png" class="img-fluid teamwork">
            </div>
            <div class="col-md-6 ">
            <p class="promo-title7 text-right">Team Innovation<br> And <br> Collaboration </p>
            <div class="elfsight-app-6281bc57-b193-4305-a5a8-0596eff0e8b0"></div>
            </div>
            
        </div>
    </div>
</section>

<!-----------------------Services Section--------------------------------->
<section id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 service mr-auto" >
            <img src="images/4.svg" alt="" class=" img-fluid service-img">
            </div>
            <div class="col-md-3 service mr-auto" >
                <h4>Services</h4>
                <ul>
                    <a href=""><li>Research Assistance</li></a>
                    <a href=""><li>Self Article Publishing</li></a>
                    <a href=""><li>Self book Publishing</li></a>
                    <a href=""><li>Get Hired</li></a>
                    <a href=""><li>Get Skilled</li></a>
                </ul>
            </div>
            <div class="col-md-3 service mr-auto">
                <h4>Business</h4>
                <ul>
                    <a href=""><li>Publisher Hub</li></a>
                    <a href=""><li>University Lab</li></a>
                    <a href=""><li>Recuter Hub</li></a>
                    <a href=""><li>Learning Hub</li></a>
                    <a href=""><li>Research Organization</li></a>
                    <a href=""><li>Business Organization</li></a>
                </ul>
            </div>
            <div class="col-md-3 service mr-auto ">
                <h4>Company</h4>
                <ul>
                    <a href=""><li>Vichayan</li></a>
                    <a href=""><li>Investor Relation</li></a>
                    <a href="/Blog"><li>Blog</li></a>
                    <a href=""><li>Press</li></a>
                </ul>
            </div>
        </div>
    </div>
</section>
<!---------------------------footer----------------------------------------->
<script src="https://apps.elfsight.com/p/platform.js" defer></script>



{{>footer}}

    
    